Source: rust-ctor
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-quote-1+default-dev (>= 1.0.20-~~) <!nocheck>,
 librust-syn-2+full-dev (>= 2.0.10-~~) <!nocheck>,
 librust-syn-2+parsing-dev (>= 2.0.10-~~) <!nocheck>,
 librust-syn-2+printing-dev (>= 2.0.10-~~) <!nocheck>,
 librust-syn-2+proc-macro-dev (>= 2.0.10-~~) <!nocheck>
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
XSBC-Pexip-Original-Uploaders:
 Robin Krahl <robin.krahl@ireas.org>
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/ctor]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/ctor
X-Cargo-Crate: ctor
Rules-Requires-Root: no
XS-Pexip-Upstream: http://deb.debian.org/debian/ trixie

Package: librust-ctor-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-quote-1+default-dev (>= 1.0.20-~~),
 librust-syn-2+full-dev (>= 2.0.10-~~),
 librust-syn-2+parsing-dev (>= 2.0.10-~~),
 librust-syn-2+printing-dev (>= 2.0.10-~~),
 librust-syn-2+proc-macro-dev (>= 2.0.10-~~)
Provides:
 librust-ctor+default-dev (= ${binary:Version}),
 librust-ctor-0-dev (= ${binary:Version}),
 librust-ctor-0+default-dev (= ${binary:Version}),
 librust-ctor-0.1-dev (= ${binary:Version}),
 librust-ctor-0.1+default-dev (= ${binary:Version}),
 librust-ctor-0.1.26-dev (= ${binary:Version}),
 librust-ctor-0.1.26+default-dev (= ${binary:Version})
Description: __attribute__((constructor)) for Rust - Rust source code
 This package contains the source for the Rust ctor crate, packaged by debcargo
 for use with cargo and dh-cargo.
